[access]
	inheritFrom = edufa-devrel-fte
[submit]
	action = inherit
[access "refs/*"]
	owner = group mdb/edufa-devrel-fte
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	copyAllScoresOnMergeFirstParentUpdate = true
	value = -2 Do not submit
	value = -1 I would prefer that you didn't submit this
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
[plugin "find-owners"]
	rejectErrorInOwners = true
[plugin "simple-submit-rules"]
	blockIfUnresolvedComments = false
[plugin "zosscoverage"]
	function = MaxWithBlock
	defaultValue = 0
	copyMinScore = true
	value = -2 This shall not be merged
	value = -1 I would prefer this is not merged as is
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	copyAllScoresOnMergeFirstParentUpdate = true
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	copyAllScoresIfListOfFilesDidNotChange = true
