[access]
	inheritFrom = edufa-devrel-fte
[submit]
	action = inherit
[access "refs/*"]
	owner = group mdb/edufa-devrel-fte
[plugin "simple-submit-rules"]
	blockIfUnresolvedComments = false
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	copyAllScoresOnMergeFirstParentUpdate = true
	value = -2 Do not submit
	value = -1 I would prefer that you didn't submit this
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
