body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #212529;
    background-color: #f5f8fa;
}

.container {
    display: grid;
    max-width: 960px;
    grid-column-gap: 20px;
}

.topnav {
    background-color: #4d4d4d;
    overflow: hidden;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav li {
    float: left;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}